*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.container-1{
    background-color: orange;
    box-shadow: 3px 3px 3px rgb(146, 145, 145);
    padding: 15px;
}

a{
    color: white;
}

.container-2{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#logo{
    width: 15%;
}

.container{
    margin: auto;
    width: 80%;
    content: "";
    clear: both;
    display: table;
}


.foto-1{
    float: left;
    width: calc(100%/3);
    padding: 15px;
}

.foto-2{
    display: none;
}
